.information-container {
    width: 50%;
}

@media screen and (max-width: 1000px) {
    .information-container{
        width: 100%;
    }
}

@media screen and (max-width: 628px) {
    .information-container{
        width: 45%;
    }
}
@media screen and (max-width: 540px) {
    .information-container{
        width: 100%;
    }
}
