.footer-component {
    max-width: 100vw;
    height: 53vh;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    overflow: hidden;
    margin: 0;
    margin-top: -5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: -1;
}

.footer-shape {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 2px solid var(--black);
}

.copyright{
    text-align: center;
    position: relative;
    z-index: 5;
    margin: 0;
    padding-bottom: 1%;
}

.small-text {
    position: relative;
    z-index: 5;
}

.hyperlink{
    text-decoration: none;
    color: white;
}

.hyperlink:hover{
    color: var(--light-green);
}

@media screen and (max-width: 1050px) {
    .footer-component {
        height: 40vh;
    }
}

@media screen and (max-width: 715px) {

    .footer-component {
        height: 35vh;
    }
}

@media screen and (max-width: 503px) {
    .header-component {
        height: 25vh;
    }
}