.gallery-photo {
    margin-bottom: 1.5%;
    object-fit: cover;
    object-position: 50% 50%;
}

/* media queries to change how much space each img takes on page at diff breakpoints */

@media screen and (max-width: 930px) {
    .gallery-photo{
        max-width: 33%;
        height: auto;
    }
}

@media screen and (max-width: 503px) {
    .gallery-photo {
        max-width: 49%;
        height: auto;
    }
}

@media screen and (max-width: 320px) {
    .gallery-photo {
        max-width: 100%;
        height: auto;
    }
}