.gallery-photo {
    width: 30%;
    margin-bottom: 6%;
    object-fit: cover;
    object-position: 50% 50%;
}

/* media queries to change how much space each img takes on page at diff breakpoints */

@media screen and (max-width: 503px) {
    .gallery-photo {
        width: 49%;
    }
}

@media screen and (max-width: 320px) {
    .gallery-photo {
        width: 100%;
    }
}