/* set variables */
/* TODO: set main margin to "margin: 0% 5% 0% 5%;"  */

/* ! Note that most of the media queries for global classes are located in the header.css file */

/* ! import Google Fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Acme&family=Athiti:wght@400;700&display=swap");
 */

 /* latin */
@font-face {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/acme/v21/RrQfboBx-C5_XxrBbk_m3Lg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* thai */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/athiti/v12/pe0vMISdLIZIv1wIHxJXKNWyA-Zr.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/athiti/v12/pe0vMISdLIZIv1wIBBJXKNWyA-Zr.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/athiti/v12/pe0vMISdLIZIv1wIBRJXKNWyA-Zr.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/athiti/v12/pe0vMISdLIZIv1wICxJXKNWyAw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* thai */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/athiti/v12/pe0sMISdLIZIv1wAsDdCEfe_Kdxic2wp.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/athiti/v12/pe0sMISdLIZIv1wAsDdCCve_Kdxic2wp.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/athiti/v12/pe0sMISdLIZIv1wAsDdCC_e_Kdxic2wp.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/athiti/v12/pe0sMISdLIZIv1wAsDdCBfe_Kdxicw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {

  /* *Color Scheme */

  --dark-blue: #1A50A1;
  --light-blue: #0E67ED;
  --dark-green: #7BA102;
  --light-green: #BEED26;
  --orange: #ED3E26;
  --black: #121314;
  --white: #FFFFFF;

  /* *Gradients */
  --vertical-blue-to-black: linear-gradient(to bottom, var(--dark-blue), var(--black));
  --vertical-blue-to-black-trans: linear-gradient(to bottom, var(--dark-blue), rgba(0, 0, 0, .7));


  /* *transparent colors */
  --dark-blue-trans: rgba(26, 80, 161, .5);

  /* *Fonts */
  --Acme: 'Acme', sans-serif;
  --Athiti: 'Athiti', sans-serif;

}

/* *Font Style Classes (body text will be the default, and located in the body element) */

.h1-header {
  font-family: var(--Acme);
  font-size: 40px;
  font-weight: normal;
}

.header-subtext {
  font-family: var(--Athiti);
  font-size: 20px;
  font-weight: normal;
}

.card-title {
  font-family: var(--Acme);
  font-size: 32px;
  font-weight: normal;
}

/* .body-text {
  font-family: var(--Athiti);
  font-size: 16px;
  font-weight: bold;
} */
.subheading-text {
  font-family: var(--Acme);
  font-size: 20px;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background: var(--vertical-blue-to-black);
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 100vw;

  /* same as body text class that is commented out */
  font-family: var(--Athiti);
  font-size: 18px;
  /* font-weight: bold; */
  color: var(--white);
}

#root {
  height: 100%;
}

main {
  /* default style for main to match header text margins */
  margin: 0% 6% 0% 6%;
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  /* overflow-x: hidden; */
  /* ! z-index set to be above the footer so links work properly */
  position: relative;
  z-index: 5;
}

.row {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 6%;
}

.text-center {
  text-align: center;
}

.reset-margin {
  margin: 0;
}

.light-blue-text {
  color: var(--light-blue);
}

.light-green-text {
  color: var(--light-green);
}

.orange-text {
  color: var(--orange);
}

.underline {
  text-decoration: underline;
}

#landing-header {
  object-position: 50% 15%;
}

@media screen and (max-width: 540px) {
  main {
    margin: 0% 1% 0% 1%;
  }

  .row{
    margin-top: 1%;
  }

  .h1-header {
    margin: 0;
  }
}